# Python Basic Programming Assignment 21

### Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.<br>
**Examples**<br>
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]<br>
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]<br>
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]<br>
next_in_line([], 6) ➞ "No list has been selected"

In [1]:
def next_in_line(*args):
    new_line=[]
    for i in args:
        if type(i)==list:
            if len(i)!=0:
                i.pop(0)
                new_line.extend(i)
            else:
                return "No list has been selected"
        if type(i)!=list:
            new_line.append(i)
    return new_line

In [2]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [3]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [4]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [5]:
next_in_line([], 6)

'No list has been selected'

### Question2
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.<br>
**Examples**<br>
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },<br>
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },<br>
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }<br>
]) ➞ 65700<br>
get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },<br>
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },<br>
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }<br>
]) ➞ 62600

In [6]:

def get_budgets(*args):
    Sum=0
    for i in  args:
        for j in i:
            if type(j)==dict:
                for key,value in j.items():
                    if key=="budget":
                        Sum=Sum+value
    return Sum

In [7]:
get_budgets([ { "name": "John", "age": 21, "budget": 23000 },{ "name": "Steve", "age": 32, "budget": 40000 },{ "name": "Martin", "age": 16, "budget": 2700 }])

65700

In [8]:
get_budgets([ { "name": "John", "age": 21, "budget": 29000 },{ "name": "Steve", "age": 32, "budget": 32000 },{ "name": "Martin", "age": 16, "budget": 1600 }])

62600

### Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.<br>
**Examples**<br>
alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;<br>
alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;<br>
alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;<br>
alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;<br>
alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [9]:
def alphabet_soup(string):
    string=sorted(list(string))
    return "".join(string)

In [10]:
alphabet_soup("hello")

'ehllo'

In [11]:
alphabet_soup("edabit")

'abdeit'

In [12]:
alphabet_soup("hacker")

'acehkr'

In [13]:
alphabet_soup("geek")

'eegk'

In [14]:
alphabet_soup("javascript")

'aacijprstv'

### Question4

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?<br>

Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.<br>

**For the example above:**<br>
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97<br>

Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.<br>

**Examples**<br>
compound_interest(100, 1, 0.05, 1) ➞ 105.0<br>
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26<br>
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26




    Formula
    A = p*pow((1 + r/n),(n*t))
    A	=	final amount
    P	=	initial principal balance
    r	=	interest rate
    n	=	number of times interest applied per time period
    t	=	number of time periods elapsed

In [15]:
def compound_interest (P,t,r,n):
    CI = P*(pow((1+r/n), n*t))
    return round(CI,2)

In [16]:
compound_interest(100, 1, 0.05, 1)

105.0

In [17]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [18]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [19]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

### Question5
Write a function that takes a list of elements and returns only the integers.<br>
**Examples**<br>
return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]<br>
return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]<br>
return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,3]<br>
return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]<br>

In [20]:
def return_only_integer(List):
    
    return [i for i in List if type(i)==int]

In [21]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [22]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [23]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [24]:
return_only_integer(["String", True, 3.3, 1])

[1]